@font-face{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 200;
    src: url("../font/Karla.ttf") format('truetype');
    font-display: swap;
}

@font-face{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: url("../font/YesevaOne.ttf") format('truetype');
    font-display: swap;
}