.hero{
    width: 100%;
    height: 100vh;
    background:{
        image: url('../img/bg-home.png');
        size: cover;
        position: center;
    }

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__header{
        position: relative;
        margin-bottom: 2.8rem;
        padding: 0;
        text:{
            align: center;
        }
        line-height: 1;

        p{
            @include marginSet;
            font:{
                size: 6rem;
            }
            color: var(--color-theme-primary);
        }

        h1{
            @include marginSet;
            font:{
                size: 8rem;
            }
        }
    }

    &__content{
        position: relative;
        @include marginSet;
        text:{
            align: center;
        }

        p{
            font:{
                size: 1.8rem;
            }
        }

        &__buttons{
            margin-top: 6rem;

            transition: .3s es ease-in all;
            animation: fadeIn 5s;

            a{
                &:first-child{
                    margin-right: 1.6rem;
                }

                &:last-child{
                    margin-left: 1.6rem;
                }
            }
        }
    }

    &__scroll {
        display: block;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;

        transition: .5s es ease-in all;
        animation: fadeIn 11s;

        a {
            display: flex;
            width: 4rem;
            height: 8rem;
            border-radius: 2rem;
            border: 1.5px solid var(--color-theme-white);
            align-self: baseline;

            &::after {
                margin: 0;
                padding: 0;
                position: relative;
                top: 16%;
                left: 50%;
                display: block;
                width: 1rem;
                height: 1rem;
                background-color: var(--color-theme-white);
                border-radius: 50%;
                transform: translatex(-50%);
                content: "";
                animation: scroll 2s infinite;
            }
        }
    }

    @keyframes scroll {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 100%;
        }

        100% {
            opacity: 0%;
            top: 70%;
        }
    }
}
