.testimony{
    @include margin;

    &__header{
        margin-bottom: 6rem;
        padding: 0;

        p{
            @include marginSet;
            font:{
                size: 2rem;
            }
            text:{
                transform: uppercase;
            }
            letter-spacing: 4px;
            color: var(--color-theme-primary);
        }

        h1{
            margin: 3.2rem 0 6rem 0;
            padding: 0;
            font:{
                size: 6rem;
            }
            line-height: 1;
        }

        hr{
            width: 14rem;
            border-color: var(--color-theme-primary);
        }
    }
    
    &__content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 3rem;
        
        &__card{
            margin: 0;
            padding: 4.8rem 3.2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background:{
                color: var(--color-background-dark-blue);
            }
            
            &__image{
                margin-bottom: 3.2rem;
                
                img{
                    mix-blend-mode: difference;
                }
            }
            
            &__container{
                @include marginSet;
                text:{
                    align: justify;
                }
                
                p{
                    font:{
                        size: 1.2rem;
                    }
                }
                
                &__header{
                    h2{
                        margin-bottom: 1.6rem;
                        font:{
                            size: 1.8rem;
                        }
                    }
                }
                
            }
        }
    }
}