.header{
    position: fixed;
    margin: 0;
    width: 100%;
    background:{
        color: var(--color-background-navbar);
    }
    z-index: 100;
    backdrop-filter: blur(10px);

    &__navbar{
        margin: 0;
        padding: 1.6rem 0;

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .header__navbar__section{
                &__nav{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    ul{
                        padding: 0;
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;

                        & > li:last-child{
                            padding-right: 0;
                        }

                        li{
                            margin: 0;
                            padding: .8rem 1.4rem !important;
                            overflow: hidden;
                            transition: .3s ease-in-out all;
                            font:{
                                size: 1.8rem;
                            }
                            
                            a{
                                position: relative;
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                color: var(--color-theme-white);

                                &::after{
                                    content: '';
                                    position: absolute;
                                    bottom: -1rem;
                                    width: 100%;
                                    left: 0;
                                    transform: translateX(-200%);
                                    transition: .3s ease-in-out all;
                                }

                                transition: .3s ease-in-out all;

                                &:hover{

                                    &::after{
                                        content: '';
                                        border: 1px solid var(--color-theme-primary);
                                        transform: translateX(0);
                                        transform-origin: left;
                                        transition: .5s linear all;
                                    }
                                    transition: .3s linear all;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}